.sidenav---sidenav---_2tBP {
    box-sizing: border-box;
    line-height: 20px;
    margin-top: 4%;
}

.sidenav---sidenav---_2tBP {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 64px;
    background: #b2d2f3 !important;
    transition: min-width 0.15s;
}

h5.Titlle {
    color: #041160 !important;
}

@media (min-width: 1200px) {
    .sidenav---sidenav---_2tBP {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1006;
        height: 126%;
        min-width: 64px;
        background: #b2d2f3 !important;
        transition: min-width 0.15s;
    }
}

.sidenav {
    height: 126%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}