.table {
    overflow: auto;
    padding-left: 45%;
    /* margin: 8%; */
    width: 93%;
    margin-bottom: 1rem;
    color: #212529;
    margin-left: 6%;
}

.content {
    overflow-y: scroll;
    height: 619px;
}

h1.report {
    font-weight: bold;
    color: #041160;
    font-size: 143%;
    margin-top: 2%;
}