body {
    overflow-x: hidden;
}

div#search-container {
    width: 337%;
    margin-top: 6%;
}

input#exampleFormControlInput1 {
    background-color: #b3bae6;
    height: 55px;
    font-weight: bold;
    text-align: left;
    border-radius: -27%;
    width: 48%;
    /* color: #2137bf; */
}

img.buttonSearch_logo {
    width: 48%;
}

img#add {
    margin-top: 69%;
    width: 28%;
    z-index: 1;
    margin-left: 143%;
}

h5.keyWord {
    width: 28%;
    z-index: 1;
    margin-left: 144%;
    font-size: 77%;
    margin-top: -3%;
}

.advancedSearch2 {
    margin-top: -5%;
}

h1#advancedSearch {
    font-size: 135%;
    margin-top: -13%;
    color: #041160;
    font-weight: bold;
}

h1#especifSearch {
    text-align: left;
    margin-left: 1%;
}

.form-group {
    margin-bottom: 1rem;
    width: 259%;
    text-align: left;
}

input#inputPassword {
    width: 35%;
    font-weight: bold;
}

input#inputPassword1 {
    width: 35%;
    font-weight: bold;
}

input#inputPassword2 {
    width: 35%;
    font-weight: bold;
}

input#inputPassword3 {
    width: 35%;
    font-weight: bold;
}

input#inputPassword4 {
    width: 35%;
    font-weight: bold;
}

h1.Title-person {
    font-size: 113%;
    text-align: left;
    color: #041160;
    border-bottom: solid 1px;
}

select#selectWid {
    width: 35%;
    color: #77757d;
    font-weight: bold;
}

input#start {
    width: 37%;
}

input.Date-picker {
    width: 117%;
    background-color: #b3bae6;
    color: #77757d;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #b3bae6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

h1.labelh1 {
    font-size: 83%;
    color: #041160b3;
    font-weight: bold;
}

button#Search-button {
    width: 28%;
    float: left;
    background-color: #041160;
    border-color: white;
}

button#Search-button1 {
    width: 28%;
    float: left;
    background-color: #041160;
    border-color: white;
}

h1.Loader {
    font-size: 76%;
    font-weight: bold;
    color: #041160;
}

.loader {
    z-index: 1;
    position: absolute;
    margin-top: -71%;
    /* float: right; */
    margin-left: 132%;
}

@media (max-width: 1024px) {
    div#search-container {
        width: 223%;
        margin-top: 6%;
    }
    input#inputPassword {
        width: auto;
        font-weight: bold;
    }
    input#inputPassword3 {
        width: auto;
        font-weight: bold;
    }
    input#inputPassword2 {
        width: auto;
        font-weight: bold;
    }
    select#selectWid {
        width: auto;
        /* width: 35%; */
        color: #77757d;
        font-weight: bold;
    }
    input[type=text] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: auto;
        /* width: auto; */
        border: 2px solid #f6f6f6;
        transition: all 0.5s ease-in-out;
        border-radius: 5px 5px 5px 5px;
    }
    button#Search-button1 {
        width: auto;
        float: left;
        background-color: #041160;
        border-color: white;
    }
    div#container-social {
        width: auto !important;
        margin-left: -5%;
        margin-top: 1%;
    }
}

@media (max-width: 800px) {
    div#search-container {
        width: auto;
        margin-top: 6%;
    }
    .form-group {
        margin-bottom: 1rem;
        width: auto;
        text-align: left;
    }
    select#selectWid {
        width: auto;
        color: #77757d;
        font-weight: bold;
        text-align: center;
    }
    input#inputPassword3 {
        width: auto;
        font-weight: bold;
    }
    input#inputPassword2 {
        width: auto;
        font-weight: bold;
    }
    input#inputPassword {
        width: auto;
        font-weight: bold;
    }
    input#dataPicker {
        width: auto;
    }
    .container {
        margin-top: 13%;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    input#exampleFormControlInput1 {
        background-color: #b3bae6;
        height: 55px;
        font-weight: bold;
        text-align: left;
        border-radius: -27%;
        width: auto;
        /* color: #2137bf; */
    }
    button#Search-button1 {
        width: auto;
        float: left;
        background-color: #041160;
        border-color: white;
    }
    button#Search-button {
        width: auto;
        float: left;
        background-color: #041160;
        border-color: white;
    }
    img.buttonSearch_logo {
        width: 48%;
        display: none;
    }
}

@media (max-width: 320px) {
    input#inputPassword3 {
        width: 94%;
        font-weight: bold;
    }
    input#inputPassword2 {
        width: 94%;
        font-weight: bold;
    }
    input#inputPassword {
        width: 94%;
        font-weight: bold;
    }
    button#Search-button {
        width: auto;
        float: left;
        background-color: #041160;
        border-color: white;
    }
}