div#container-social {
    width: 81% !important;
    margin-left: -5%;
    margin-top: 1%;
}

h1.Social_title {
    /* background: red; */
    width: 73%;
    font-size: 160%;
    margin-top: 5%;
    color: #041160;
    border-bottom: solid 0.1px;
    margin-left: 6%;
    margin-top: 2;
}

@media (max-width: 800px) {
    div#container-social {
        width: auto !important;
        margin-left: -5%;
        margin-top: 1%;
    }
}